body {
    font-family: proxima-nova-1,proxima-nova-2,Tahoma,Helvetica,Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #333;
    background: rgba(241, 241, 241, 0.47);
}

.container-fluid {
    padding-left: 0px;
}

.cover-image {
    background-position: 56.5% 29.75%;
    background-image: url('../../images/cover.jpg');
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    position: relative;
}

.cover-image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,0.2), rgba(0,0,0,1) 1px, transparent 1px, rgba(0,0,0,0.3) 100%);;
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,0.2), rgba(0,0,0,1) 1px, transparent 1px, rgba(0,0,0,0.3) 100%);;
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,0.2), rgba(0,0,0,1) 1px, transparent 1px, rgba(0,0,0,0.3) 100%);;
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,0.2), rgba(0,0,0,1) 1px, transparent 1px, rgba(0,0,0,0.3) 100%);;
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.cover-image-text {
    bottom: 0px;
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 15px 30px;
    color: white;
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.9));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.9));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.9));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.9));
}

.cover-image-text h1 {
    font-size: 32px;

}

.cover-image-text p {
    font-size: 14px;
}

.site-header h1 {
    font-size: 32px;
    font-weight: 500;
}

.site-header p {
    color: #888;
    font-size: 16px;
    font-weight: 600;
}

.cta {
    margin: 25px 0;
}

.primary-cta {
    background-color:rgb(48,35,174) !important;
    color:#fff !important;
    font-weight:bold;
    border-radius:3px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.secondary-cta {
    background-color:white !important;
    color:#555 !important;
    font-weight:bold;
    border-radius:3px;
}

.site-body {
    font-size: 16px;
    text-align: justify;
    color: #666;
}

#left-panel {
    overflow: hidden;
    padding: 0px;
    position: fixed;
    display: block;
}

#right-panel {
    padding: 30px
}

.hidden {
    display: none;
}

@media (max-width: 425px) {
}

@media (min-width: 425px) and (max-width: 768px) {
}

@media (max-width: 767px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .container-fluid {
        padding-right: 0px;
    }

    .site-header {
        margin-top: 0px;
    }

    .cover-image-text {
        display: block !important;
    }

    .site-header {
        display: none;
    }

    .cta {
        margin: 0px;
    }

    .site-body {
        margin-top: 25px;
    }

    #right-panel {
        overflow-x: hidden;
    }
}
